@model Member
@{
    ViewData["Title"] = "SelectMember";
}
<h1>Select Member</h1>
<form asp-action = "MemberLoans">
    <div asp-validation-summary="ModelOnly" class="text"></div>
    <div class="form-group mt-3">
        <label asp-for="MemberFirstName" class="control-label">View DVDs of the selected Actors</label>
        <select asp-for="MemberFirstName" class="form-control" asp-items="ViewBag.MemberFirstName" name="memberList"></select>
        <button class="btn btn-primary mt-3" type="submit">Select Member</button>
    </div>
</form>