@model Member
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Select Member";
}
<div class="card p-5 col-lg-9 col-12 mx-auto">
    <h1 class="text-center">Select Member</h1>
    <hr />
    <form asp-action = "MemberLoans">
        <div asp-validation-summary="ModelOnly" class="text"></div>
        <div class="row mx-auto">
            <div class="col-md-8 col-12 mt-2">
                <label asp-for="MemberLastName" class="control-label">View DVDs of the selected Members</label>
                <select asp-for="MemberLastName" class="form-control" asp-items="ViewBag.MemberLastName" name="memberList"></select>
            </div>
            <div class="col-md-4 col-12">
                <div class="form-group mt-3">
                    <button class="btn btn-primary mt-3" type="submit">Select Member</button>
                </div>
            </div>
        </div>
    </form>
</div>