@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<img src="@Url.Content("~/imgs/nobg/spin.gif")" alt="logo" class="logo" />*@
    <div class="owl-carousel owl-1">

        <div class="media-29121 overlay carousel-1" style="background-image: url('/imgs/cd1.jpg');">
          <div class="container home-carousel">
            <div class="row justify-content-center pt-5">
              <div class="col-md-7 pt-5 mt-4">
                <h1 class="d-inline-block white pt-5 mt-5">Rent any DVD from RopeyDVDs</h1>
              </div>
            </div>
          </div>
        </div> <!-- .item -->
        <div class="media-29121 overlay" style="background-image: url('/imgs/cd2.jpg');">
          <div class="container home-carousel-1">
            <div class="row justify-content-center pt-5">
              <div class="col-md-7 pt-5 mt-4">
                <h1 class="d-inline-block white pt-5 mt-5">Rent Multiple DvDs at a time</h1>
              </div>
            </div>
          </div>
        </div> <!-- .item -->
        <div class="media-29121 overlay carousel-3" style="background-image: url('/imgs/cd3.jpg');">
          <div class="container home-carousel">
            <div class="row justify-content-center pt-5">
              <div class="col-md-7 pt-5 mt-4">
                <h1 class="d-inline-block white pt-5 mt-5">Wide Range of selections</h1>
              </div>
            </div>
          </div>
        </div> <!-- .item -->

      </div>
</div>
