<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - RopeyDVD</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/nav-admin.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/RopeyDVD.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic SC">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

            <a class="nav-link text-dark" asp-area="" asp-controller="Members" asp-action="SelectMember">Search Members</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="DVDTitles" asp-action="DVDDetailsIndex">DVD Details</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="DVDCopies" asp-action="OlderCopiesDVD">Older DVDs</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="DVDCopies" asp-action="SelectDate">Select Date</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Members" asp-action="MemberNotBorrowed">Passive Members</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="DVDTitles" asp-action="DVDsNotLoaned">Unpopular DVDs</a>
        </div>
        <div id="main" class="p-0">
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
                    <div class="container-fluid">
                        <div class="row mx-auto">
                            <!-- open/show the overlay navigation menu -->
                            <div class="col-md-1 col-4">
                                <div class="menu" onclick="openNav()">
                                    <div class="bar"></div>
                                    <div class="bar"></div>
                                    <div class="bar"></div>
                                </div>
                            </div>

                            <a asp-controller="Home" asp-action="Index" class="text-center col-md-10 col-8">
                                <img src="@Url.Content("~/imgs/nobg/ropey.png")" alt="logo" class="nav-logo logo" />
                            </a>
                            <div class="col-md-1 col-12 my-auto">
                                <a class="btn btn-secondary" asp-area="" asp-controller="Auth" asp-action="Login">
                                    Login
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            @*<footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2022 - RopeyDVD
                </div>
            </footer>*@
        </div>
        

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "300px";
                document.getElementById("main").style.marginLeft = "300px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }
        </script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
