@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "DVDsNotLoaned";
}
<h1>DVDs Not Loaned</h1>
<h4>List of DVD titles in the store which has not been loaned in last 31 days</h4>

<table class="table">
<thead>
    <tr>
        <th>Copy Number</th>
        <th>DVD Title</th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CopyNumber</td>
            <td>@item.Title</td>
        </tr>
    }
</tbody>
</table>
