@model RopeyDVD.Models.DVDTitle

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Edit";
}

<div class="card p-5 col-lg-9 col-12 mx-auto">
    <h1 class="text-center">Edit DVDTitle</h1>

    <hr />
        <form asp-action="Edit">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DVDNumber" />
                <div class="form-group">
                    <label asp-for="DVDTitles" class="control-label"></label>
                    <input asp-for="DVDTitles" class="form-control" />
                    <span asp-validation-for="DVDTitles" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateReleased" class="control-label"></label>
                    <input asp-for="DateReleased" class="form-control" />
                    <span asp-validation-for="DateReleased" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StandardCharge" class="control-label"></label>
                    <input asp-for="StandardCharge" class="form-control" />
                    <span asp-validation-for="StandardCharge" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PenaltyCharge" class="control-label"></label>
                    <input asp-for="PenaltyCharge" class="form-control" />
                    <span asp-validation-for="PenaltyCharge" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryNumber" class="control-label"></label>
                    <select asp-for="CategoryNumber" class="form-control" asp-items="ViewBag.CategoryNumber"></select>
                    <span asp-validation-for="CategoryNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudioNumber" class="control-label"></label>
                    <select asp-for="StudioNumber" class="form-control" asp-items="ViewBag.StudioNumber"></select>
                    <span asp-validation-for="StudioNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProducerNumber" class="control-label"></label>
                    <select asp-for="ProducerNumber" class="form-control" asp-items="ViewBag.ProducerNumber"></select>
                    <span asp-validation-for="ProducerNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-4">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <div class="col-12 col-md-4">
                    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
