@model Actor
@{
    ViewData["Title"] = "SelectActors";
}
<h1>Select Actors</h1>
<form asp-action = "ShowDVDsofActors">
    <div asp-validation-summary="ModelOnly" class="text"></div>
    <div class="form-group mt-3">
        <label asp-for="ActorSurName" class="control-label">View DVDs of the selected Actors</label>
        <select asp-for="ActorSurName" class="form-control" asp-items="ViewBag.ActorSurName" name="actorList"></select>
        <button class="btn btn-primary mt-3" type="submit">Select Actor</button>
    </div>
</form>
<form asp-action = "ShowDVDCopiesofActors">
    <div asp-validation-summary="ModelOnly" class="text"></div>
    <div class="form-group mt-3">
        <label asp-for="ActorSurName" class="control-label">View DVD copies of the selected Actors</label>
        <select asp-for="ActorSurName" class="form-control" asp-items="ViewBag.ActorSurName" name="actorList"></select>
        <button class="btn btn-primary mt-3" type="submit">Select Actor</button>
    </div>
</form>