@{
    ViewData["Title"] = "ShowDVDsofActors";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-12">
            <h1> Show all the DVDs of Actors</h1>
        </div>
        <div class="col-md-2 col-12">
            <a class="btn btn-primary" asp-action="SelectActors">Search</a>
        </div>
    </div>
</div>

@if(Model!=null){
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Actor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@foreach(var value in item.Cast)
                        {
                            <p>@value</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}else{
    <p>No data</p>
}