@model RopeyDVD.Models.DVDCopy

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Create";
}


<div class="card p-5 col-lg-9 col-12 mx-auto">
    <h1 class="text-center">Create DVD</h1>

    <hr />
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DatePurchased" class="control-label"></label>
            <input asp-for="DatePurchased" class="form-control" />
            <span asp-validation-for="DatePurchased" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DVDNumber" class="control-label"></label>
            <select asp-for="DVDNumber" class ="form-control" asp-items="ViewBag.DVDNumber"></select>
        </div>
        <div class="row">
            <div class="form-group col-12 col-md-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="col-12 col-md-4">
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
