@model Loan
@{
    ViewData["Title"] = "SelectDate";
}
<h1>Select Date</h1>
<form asp-action="LoanedOutDVDCopies">
    <input type="date" value="@ViewBag.SelectedDate" name="SearchDate" />
    <button type="submit">Search DVDs by Date</button>
</form>
<p>Total loans taken at @ViewBag.SelectedDate : @ViewBag.TotalLoans</p>
